* { box-sizing: border-box }

html {
    font-size: 24px;
}

body {
    margin: 0;
    padding: 20px;
    min-height: 100%;
}

label {
    display: block;
    font-size: inherit;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 2em;
}

input, button { 
    font-size: inherit;
    font-family: inherit;
    border: none;
    background: transparent;
} 

p:first-of-type {
    margin-top: 0;
}

strong {
    font-weight: normal;
}

strong:before { content: '\00a0\00a0\00a0' }
strong:after { content: '\00a0\00a0' }

h1 {
    font-size: inherit;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 2em;
}

h1:before {
    content: '('
}

h1:after {
    content: ')'
}

.Main {
    max-width: 700px;
}

textarea {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    resize: vertical;
    max-width: 700px;
    padding: 5px;
    position: relative;
    left: -5px;
    top: -5px;
}

.Nav {
    margin-top: 5rem;
}

.Nav-item {
    display: inline-block;
    margin-right: 6.5em;
}

.Nav-button {
    cursor: pointer;
}

.Nav-button:hover {
    color: grey;
}

.Group {
    display: flex;
    flex-wrap: wrap;
}

.Group-item {
    flex: 0  0 33%;
    word-break: break-all;
    padding-right: 20px;
    padding-bottom: 20px;
}

.Group-item:before {
    content: '';
    display: block;
    margin-top: 1em;
}